$bgCol: #08c;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: $bgCol;
    overflow: hidden;
}

.stats {
    position: absolute;
    cursor: pointer;	
    top: 0px;
    left: 0px;
    z-index: 100;
}

